.entry-part {
	margin: 0;
	padding: 0;
}

.loading-spacer,
.more-link.loading-error {
}

.loading-spacer.loading,
.loading-spacer.loaded {
	background:url('images/ajax-loader.gif') no-repeat center top transparent;
}

.more-link.loading,
.more-link.loaded {
	display:none;
}

.loading-spacer.loading-error {
	background:#A02020;
}